.constructor {
  max-width: 610px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  flex-basis: 600px;
  
  //align-items: stretch;
  /* grid-gap: 16px;
  gap: 16px; */
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //height: 600px;
  gap: 16px;
  flex-basis: 464px; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  grid-gap: 16px;
  gap: 16px;
}

.top-container {
  margin-right: 16px;
  max-width: 525px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.bottom-container {
  margin-right: 16px;
  max-width: 525px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.order {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.icon {
  display: flex;
  align-content: center;
}

.order svg {
  width: 33px;
  height: 33px;
  margin-left: 9.5px;
}

.total {
  display: flex;
  align-items: center;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  max-width: 618px;
  max-height: 464px;
  overflow: auto;
  align-items: stretch;
  /* gap: 16px; */
  grid-row-gap: 16px;
  flex-basis: 464px;
}
.main-element {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  //align-items: stretch;
  grid-row-gap: 8px;
  /* grid-column-gap: 16px; */
  
  margin-right: 8px;
}



.scroll-container::-webkit-scrollbar-thumb {
  max-height: 464px;
  background: #8585ad;
}

.onHover {
  border: 2px solid #4C4CFF;
}

.info {
  align-items: center;
  margin: auto;
}

.text {
  align-items: center;
  margin: auto;
  text-align: center;
}

div::-webkit-scrollbar-thumb {
  height: 70px;
  width: 70px;
}

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

div::-webkit-scrollbar-corner {
  color: var(--background-element);
  background: #2f2f37;
}
