.constructor {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: auto;
}

.order {
  display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    display: flex;
    align-content: center;
}

.order svg {
    width: 33px;
    height: 33px;
    margin-left: 9.5px;
}

.total {
    display: flex;
    align-items: center;
}
