.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease;
    min-height: 208px;
    position: relative;
    text-decoration: none;
    color: var(--text-primary-color)
  }
  
  .caption {
    text-align: center;
  }
  
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
  
  .content:hover {
    cursor: pointer;
    opacity: .7;
  }

  /* div::-webkit-scrollbar-thumb {
    height: 70px;
    width: 70px;
  }
  
  div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #8585AD;
  }
  
  div::-webkit-scrollbar-corner {
    color: var(--background-element);
    
  }  */