.orders {
  display: flex;
  max-width: 1208px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  max-width: 1208px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}

.content {
  display: flex;
  width: 856px;
  margin-left: 48px;
  justify-content: center;
}

.text {
  align-items: center;
  margin: auto;
  text-align: center;
}

.info {
  display: flex;
  max-width: 320px;
  width: 100%;
  width: 320px;
}
